body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

main {
  padding: 20px;
}

#games-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.game {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}
img{
  height: 100px;
  width: 100px;
  
}
.game a {
  background-color: #4CAF50;
  display: inline-block;
  color: white;
  padding: 10px 20px;
  border: 1px solid transparent;
  line-height: 1.4;
  font-size: 14px;
  transition: all .55s ease;
  border-radius: 5px;
  cursor: pointer;
}

.game:hover {
  background-color: #fff8;
}
.form a{
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form a :hover {
  background-color: #45a049;
}


.hidden {
  display: none;
}
.contact a{
  text-align: center;
  width: 30%;
  margin-left: 35%;
  display: inline-block;
  padding: 10px;
  background-color: #c9baff;
  color: #1d1616;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.contact a :hover {
  background-color: #e4f5e5;
}


footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}